@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&family=Fjalla+One&display=swap');

@font-face {
    font-family: digital-7;
    src: url(./font/digital-7.ttf);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}

:root{
    font-size: 10px;
    --main-clr: #e0e0e0;
    --red: rgba(248, 67, 57, 0.35);
    --green: rgba(56, 166, 54, 0.35);
    --blue: #2395F5;
}

@media (max-height: 582px){
    :root{
        font-size: 9px;
    }
}

@media (max-height: 525px){
    :root{
        font-size: 8px;
    }
}

@media (max-height: 467px){
    :root{
        font-size: 6px;
    }
}

@media (max-width: 410px){
    :root{
        font-size: 9px;
    }
}

body{
    width: 100vw;
    height: 100vh;
}

section{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 100px;
    background-color: rgb(62, 62, 62);
}

p{
    font-size: 2.4rem;
    color: rgb(70, 70, 70);
    width: max-content;
    height: 3rem;
    margin: 1.8rem 1.6rem 0 auto; 
}

h1{
    font-size: 4.8rem;
    color: rgb(30,30,30);
    font-weight: 400;
    margin: 0 1.4rem 0 auto;
    width: max-content;
}


button{
    background-color: inherit;
    font-family: Dosis, sans-serif;
    font-size: 3rem;
    /* font-weight: 600; */
    display: grid;
    place-items: center;
    /* background-image: linear-gradient(145deg, #f0f0f0, #cacaca); */
    border: none;
    border-radius: 1rem;
    box-shadow: 
    -0.2rem -0.2rem 0.6rem rgba(255, 255, 255, 0.6),
    0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.2);
    transition: box-shadow 120ms, font-size 120ms;
}

button:active{
    /* background-image: linear-gradient(145deg,#cacaca,#f0f0f0); */
    font-size: 2.8rem;
    box-shadow:
    0  0 0.6rem -0.6rem rgba(255, 255, 255, 0.6),
    0 0 0.6rem -0.6rem rgba(0, 0, 0, 0.2),
    inset 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.2),
    inset -0.2rem -0.2rem 0.6rem rgba(255, 255, 255, 0.6);
} 

.calculator{
    position: relative;
    width: 40rem;
    height: auto;
    background-color: var(--main-clr);
    border-radius: 1.4rem;
    padding: 3.2rem;
    box-shadow:
    inset 0.4rem 0.4rem 0.8rem rgba(255, 255, 255, 0.9),
    inset -0.4rem -0.4rem 0.8rem rgba(0, 0, 0, 0.35),
    1.5rem 1.5rem 3rem rgba(0, 0, 0, 0.2);
}

.screen{
    background-color: rgba(0, 0, 0, 0.1);
    height: 12rem;
    font-family: 'Fjalla One', sans-serif;
    margin-bottom: 2.8rem;
    border-top: 0.1rem solid transparent;
    border-radius: 1rem;
    box-shadow: 
    inset -0.5rem -0.5rem 1.2rem rgba(255, 255, 255, 0.45),
    inset 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.buttons{
    height: 36rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.buttons>:first-child,
.buttons>:last-child{
    font-weight: 600;
    box-shadow: 
    -0.2rem -0.2rem 0.6rem rgba(255, 255, 255, 0.75),
    0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.32);
}

.buttons>:first-child:active,
.buttons>:last-child:active{
    box-shadow:
    0 0 0.6rem -0.6rem rgba(255, 255, 255, 0.75),
    0 0 0.6rem -0.6rem rgba(0, 0, 0, 0.32),
    inset 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.32),
    inset -0.2rem -0.2rem 0.6rem rgba(255, 255, 255, 0.75);
}

.buttons>:first-child{
    background-color: var(--red);
}

.buttons>:last-child{
    background-color: var(--green);
}

.span-2{
    grid-column: span 2;
}

/*-- Signature --*/

h2{
    position: absolute;
    top: 12rem;
    right: -48rem;
    line-height: 11rem;
    font-family: Dosis, sans-serif;
    font-size: 6.4rem;
    text-align: center;
    color: rgb(62, 62, 62);
    text-shadow: 
    -0.3rem -0.3rem 0.3rem rgba(255, 255, 255, 0.12),
    0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.22);
}

span{
    display: inline-block;
    height: 12rem;
    width: 34.1rem;    
    font-size: 8rem;
    border: 2px solid;
    border-radius: 1.6rem;
    transition: box-shadow 0.2s;
}

span:hover{
    box-shadow: 
    -0.4rem -0.4rem 0.8rem rgba(255, 255, 255, 0.1),
    0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.2),
    inset 0 0 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0 rgba(0, 0, 0, 0.2);
}

span:active{
    box-shadow:
    -0.4rem -0.4rem 0.8rem rgba(255, 255, 255, 0.1),
    0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.2),
    inset -0.4rem -0.4rem 0.8rem rgba(255, 255, 255, 0.1),
    inset 0.4rem 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
}

a{
    user-select: none;
    color: inherit;
    text-decoration: none;
    transition: scale 0.2s;
    text-shadow: 
    -0.3rem -0.3rem 0.4rem rgba(255, 255, 255, 0.15),
    0.3rem 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
}

span:active>a{
    display: inline-block;
    scale: 0.98;
}

h2>img{
    width: 80px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3));
    transition: transform 0.9s ease-out, scale 0.5s;
}

h2>img:hover{
    transform: rotate(calc(360*2deg));
    scale: 1.2;
}